openapi: 3.0.3
info:
  title: EPA Bienfait — API n8n pour SuperForge
  description: |
    Endpoints n8n exposés à destination de **SuperForge (Xano)**.

    Ces webhooks permettent à SuperForge de déclencher des synchronisations
    depuis Xano vers HubSpot via n8n.

    **Base URL production :** `https://n8n.entreprendre-pour-apprendre.fr`

    **Authentification :** Aucune (IP filtering recommandé côté n8n)
  version: "1.0.0"
  contact:
    name: EPA Bienfait

servers:
  - url: https://n8n.entreprendre-pour-apprendre.fr
    description: Production

tags:
  - name: Entreprises
    description: Synchronisation des entreprises (Mini-Entreprises) de Xano vers HubSpot
  - name: Contacts
    description: Synchronisation des contacts de Xano vers HubSpot

paths:
  /webhook/sync-entreprise-create:
    post:
      tags:
        - Entreprises
      summary: Créer une entreprise dans HubSpot
      description: |
        Reçoit les données d'une entreprise créée dans Xano/SuperForge,
        crée la company correspondante dans HubSpot, et retourne le `hubspot_id`
        généré.

        **Comportement :**
        - Crée une company HubSpot avec `name`, `siren`, `siret`, `school_uai`, `school_address`
        - Répond de manière **synchrone** avec le `hubspot_id` créé
        - Logue l'opération dans la base Retool (table `execution_logs`)
      operationId: syncEntrepriseCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntrepriseCreateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  xano_id: 42
                  name: "Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
              exemple_complet:
                summary: Payload complet
                value:
                  xano_id: 42
                  name: "Les Créatifs"
                  full_name: "Mini-Entreprise Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
                  school_uai: "0750001X"
                  school_address: "12 rue des Écoles, 75005 Paris"
      responses:
        "200":
          description: Entreprise créée avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                code: SUCCESS
                payload:
                  hubspot_id: "778753066192"
                message: Ressource successfully created
        "500":
          description: Erreur lors de la création dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: ERROR
                payload: {}
                message: "INVALID_EMAIL_ADDRESS"

  /webhook/sync-company-update-from-xano:
    post:
      tags:
        - Entreprises
      summary: Mettre à jour une entreprise dans HubSpot
      description: |
        Reçoit les données d'une entreprise depuis Xano/SuperForge et met à jour
        la company correspondante dans HubSpot via PATCH.

        **Comportement :**
        - Met à jour la company HubSpot identifiée par `hubspot_id`
        - **Seuls les champs renseignés (non vides) sont patchés**
        - Couvre à la fois les Entreprises (`name`, `siret`, `siren`, `ville`, `secteur`)
          et les Établissements (`uai`)
        - Mappings de champs : `ville` → `city`, `secteur` → `industry`, `uai` → propriété UAI HubSpot
        - Répond de manière **synchrone** avec le `hubspot_id` mis à jour
        - Logue l'opération dans la base Retool (table `execution_logs`)
      operationId: syncCompanyUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  hubspot_id: "778753066192"
                  xano_id: 42
              exemple_entreprise:
                summary: Mise à jour d'une Mini-Entreprise
                value:
                  hubspot_id: "778753066192"
                  xano_id: 42
                  name: "Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
                  ville: "Paris"
                  secteur: "Commerce"
              exemple_etablissement:
                summary: Mise à jour d'un Établissement (UAI)
                value:
                  hubspot_id: "778753066193"
                  xano_id: 7
                  uai: "0750001X"
      responses:
        "200":
          description: Entreprise mise à jour avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateSuccessResponse'
              example:
                success: true
                hubspot_id: "778753066192"
        "500":
          description: Erreur lors de la mise à jour dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateErrorResponse'
              example:
                success: false
                error: "COMPANY_NOT_FOUND"

  /webhook/sync-contact-update-from-xano:
    post:
      tags:
        - Contacts
      summary: Mettre à jour un contact dans HubSpot
      description: |
        Reçoit les données d'un contact depuis Xano/SuperForge et met à jour
        le contact correspondant dans HubSpot via PATCH.

        **Comportement :**
        - Met à jour le contact HubSpot identifié par `hubspot_id`
        - Mappings de champs : `type` → `role`, `civility` → `salutation`, `linkedin` → `hs_linkedin_url`
        - Répond de manière **synchrone** avec le `hubspot_id` mis à jour
        - Logue l'opération dans la base Retool (table `execution_logs`)
      operationId: syncContactUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  hubspot_id: "12345678"
                  xano_id: 99
              exemple_complet:
                summary: Payload complet
                value:
                  hubspot_id: "12345678"
                  xano_id: 99
                  type: "eleve"
                  firstname: "Marie"
                  lastname: "Dupont"
                  email: "marie.dupont@exemple.fr"
                  civility: "Mme"
                  phone: "+33612345678"
                  job: "CEO"
                  linkedin: "https://linkedin.com/in/marie-dupont"
      responses:
        "200":
          description: Contact mis à jour avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateSuccessResponse'
              example:
                success: true
                hubspot_id: "12345678"
        "500":
          description: Erreur lors de la mise à jour dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateErrorResponse'
              example:
                success: false
                error: "CONTACT_NOT_FOUND"

components:
  schemas:
    EntrepriseCreateRequest:
      type: object
      required:
        - xano_id
        - name
      properties:
        xano_id:
          type: integer
          description: Identifiant de l'entreprise dans Xano
          example: 42
        name:
          type: string
          description: Nom court de l'entreprise
          example: "Les Créatifs"
        full_name:
          type: string
          description: |
            Nom complet de l'entreprise. Si absent, `name` est utilisé.
          example: "Mini-Entreprise Les Créatifs"
        siren:
          type: string
          description: Numéro SIREN (9 chiffres). Transmis à HubSpot.
          example: "123456789"
        siret:
          type: string
          description: Numéro SIRET (14 chiffres). Transmis à HubSpot.
          example: "12345678900012"
        school_uai:
          type: string
          description: Code UAI de l'école rattachée à la Mini-Entreprise. Optionnel.
          example: "0750001X"
          nullable: true
        school_address:
          type: string
          description: Adresse de l'école. Optionnel.
          example: "12 rue des Écoles, 75005 Paris"
          nullable: true

    SuccessResponse:
      type: object
      properties:
        code:
          type: string
          enum: [SUCCESS]
          example: SUCCESS
        payload:
          type: object
          properties:
            hubspot_id:
              type: string
              description: ID de la company créée dans HubSpot
              example: "778753066192"
        message:
          type: string
          example: Ressource successfully created

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [ERROR]
          example: ERROR
        payload:
          type: object
          example: {}
        message:
          type: string
          description: Message d'erreur retourné par HubSpot
          example: "INVALID_EMAIL_ADDRESS"

    CompanyUpdateRequest:
      type: object
      required:
        - hubspot_id
        - xano_id
      properties:
        hubspot_id:
          type: string
          description: ID HubSpot de la company à mettre à jour
          example: "778753066192"
        xano_id:
          type: integer
          description: Identifiant de l'entreprise dans Xano (utilisé pour les logs)
          example: 42
        name:
          type: string
          description: Nom de l'entreprise
          example: "Les Créatifs"
        siren:
          type: string
          description: Numéro SIREN (9 chiffres). Transmis à HubSpot.
          example: "123456789"
        siret:
          type: string
          description: Numéro SIRET (14 chiffres). Transmis à HubSpot.
          example: "12345678900012"
        ville:
          type: string
          description: |
            Ville de l'entreprise. Transmis à HubSpot dans le champ `city`.
          example: "Paris"
        secteur:
          type: string
          description: |
            Secteur d'activité. Transmis à HubSpot dans le champ `industry`.
          example: "Commerce"
        uai:
          type: string
          description: |
            Code UAI de l'établissement scolaire. Transmis à HubSpot dans la propriété UAI dédiée.
          example: "0750001X"

    ContactUpdateRequest:
      type: object
      required:
        - hubspot_id
        - xano_id
      properties:
        hubspot_id:
          type: string
          description: ID HubSpot du contact à mettre à jour
          example: "12345678"
        xano_id:
          type: integer
          description: Identifiant du contact dans Xano (utilisé pour les logs)
          example: 99
        type:
          type: string
          description: |
            Rôle du contact. Transmis à HubSpot dans le champ `role`.
          example: "eleve"
        firstname:
          type: string
          description: Prénom du contact
          example: "Marie"
        lastname:
          type: string
          description: Nom de famille du contact
          example: "Dupont"
        email:
          type: string
          description: Adresse email du contact
          example: "marie.dupont@exemple.fr"
        civility:
          type: string
          description: |
            Civilité. Transmis à HubSpot dans le champ `salutation`.
          example: "Mme"
        phone:
          type: string
          description: Numéro de téléphone du contact
          example: "+33612345678"
        job:
          type: string
          description: Intitulé de poste du contact
          example: "CEO"
        linkedin:
          type: string
          description: |
            URL du profil LinkedIn. Transmis à HubSpot dans le champ `hs_linkedin_url`.
          example: "https://linkedin.com/in/marie-dupont"

    ContactUpdateSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
          example: true
        hubspot_id:
          type: string
          description: ID HubSpot du contact mis à jour
          example: "12345678"

    ContactUpdateErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
          example: false
        error:
          type: string
          description: Message d'erreur retourné par HubSpot
          example: "CONTACT_NOT_FOUND"
