openapi: 3.0.3
info:
  title: EPA Bienfait — API n8n pour SuperForge
  description: |
    Endpoints n8n exposés à destination de **SuperForge (Xano)**.

    Ces webhooks permettent à SuperForge de déclencher des synchronisations
    depuis Xano vers HubSpot via n8n.

    **Base URL production :** `https://n8n.entreprendre-pour-apprendre.fr`

    **Authentification :** Aucune (IP filtering recommandé côté n8n)
  version: "1.0.0"
  contact:
    name: EPA Bienfait

servers:
  - url: https://n8n.entreprendre-pour-apprendre.fr
    description: Production

tags:
  - name: Entreprises
    description: Synchronisation des entreprises (Mini-Entreprises) de Xano vers HubSpot
  - name: Contacts
    description: Synchronisation des contacts de Xano vers HubSpot

paths:
  /webhook/sync-entreprise-create:
    post:
      tags:
        - Entreprises
      summary: Créer une entreprise dans HubSpot
      description: |
        Reçoit les données d'une entreprise créée dans Xano/SuperForge,
        crée la company correspondante dans HubSpot, et retourne le `hubspot_id`
        généré.

        **Comportement :**
        - Crée une company HubSpot avec `name`, `siren`, `siret`, `school_uai`, `school_address`
        - Répond de manière **synchrone** avec le `hubspot_id` créé
        - Logue l'opération dans la base Retool (table `execution_logs`)
      operationId: syncEntrepriseCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntrepriseCreateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  xano_id: 42
                  name: "Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
              exemple_complet:
                summary: Payload complet
                value:
                  xano_id: 42
                  name: "Les Créatifs"
                  full_name: "Mini-Entreprise Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
                  school_uai: "0750001X"
                  school_address: "12 rue des Écoles, 75005 Paris"
      responses:
        "200":
          description: Entreprise créée avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                code: SUCCESS
                payload:
                  hubspot_id: "778753066192"
                message: Ressource successfully created
        "500":
          description: Erreur lors de la création dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: ERROR
                payload: {}
                message: "INVALID_EMAIL_ADDRESS"

  /webhook/sync-company-update-from-xano:
    post:
      tags:
        - Entreprises
      summary: Mettre à jour une entreprise dans HubSpot
      description: |
        Reçoit les données d'une entreprise depuis Xano/SuperForge et met à jour
        la company correspondante dans HubSpot via PATCH.

        **Comportement :**
        - Met à jour la company HubSpot identifiée par `hubspot_id`
        - **Seuls les champs renseignés (non vides) sont patchés**
        - Couvre à la fois les Entreprises (`name`, `siret`, `siren`, `ville`, `secteur`)
          et les Établissements (`uai`)
        - Mappings de champs : `ville` → `city`, `secteur` → `industry`, `uai` → propriété UAI HubSpot
        - Répond de manière **synchrone** avec le `hubspot_id` mis à jour
        - Logue l'opération dans la base Retool (table `execution_logs`)
      operationId: syncCompanyUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  hubspot_id: "778753066192"
                  xano_id: 42
              exemple_entreprise:
                summary: Mise à jour d'une Mini-Entreprise
                value:
                  hubspot_id: "778753066192"
                  xano_id: 42
                  name: "Les Créatifs"
                  siren: "123456789"
                  siret: "12345678900012"
                  ville: "Paris"
                  secteur: "Commerce"
              exemple_etablissement:
                summary: Mise à jour d'un Établissement (UAI)
                value:
                  hubspot_id: "778753066193"
                  xano_id: 7
                  uai: "0750001X"
      responses:
        "200":
          description: Entreprise mise à jour avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateSuccessResponse'
              example:
                success: true
                hubspot_id: "778753066192"
        "500":
          description: Erreur lors de la mise à jour dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateErrorResponse'
              example:
                success: false
                error: "COMPANY_NOT_FOUND"

  /webhook/sync-contact-update-from-xano:
    put:
      tags:
        - Contacts
      summary: Mettre à jour un contact dans HubSpot
      description: |
        Reçoit les données complètes d'un contact depuis Xano/SuperForge et met à jour
        le contact correspondant dans HubSpot via PATCH.

        **Comportement :**
        - Met à jour le contact HubSpot identifié par `hubspot_id`
        - **Seuls les champs fournis (non vides / non null) sont patchés**
        - Accepte 28 champs EPA couvrant identité, adresses, profil et préférences
        - Répond de manière **synchrone** avec le `hubspot_id` mis à jour
        - Logue l'opération dans la base Retool (table `execution_logs`)

        **Mappings notables :**
        `type` → `role`, `civility` → `salutation`, `phone` → `mobilephone`,
        `job` → `jobtitle`, `linkedin` → `hs_linkedin_url`,
        `work_address` → `address`, `source_epa` → `source_connaissance_epa`
      operationId: syncContactUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
            examples:
              exemple_minimal:
                summary: Payload minimal
                value:
                  hubspot_id: "12345678"
                  xano_id: 99
              exemple_identite:
                summary: Mise à jour identité de base
                value:
                  hubspot_id: "12345678"
                  xano_id: 99
                  type: "accompagnateur"
                  firstname: "Marie"
                  lastname: "Dupont"
                  email: "marie.dupont@exemple.fr"
                  civility: "Mme"
                  phone: "+33612345678"
                  job: "Responsable pédagogique"
                  linkedin: "https://linkedin.com/in/marie-dupont"
              exemple_complet:
                summary: Payload EPA complet
                value:
                  hubspot_id: "12345678"
                  xano_id: 99
                  type: "accompagnateur"
                  firstname: "Marie"
                  lastname: "Dupont"
                  email: "marie.dupont@exemple.fr"
                  civility: "Mme"
                  phone: "+33612345678"
                  job: "Responsable pédagogique"
                  linkedin: "https://linkedin.com/in/marie-dupont"
                  work_address: "12 rue des Écoles, 75005 Paris"
                  home_address: "3 avenue Victor Hugo, 75016 Paris"
                  fav_address: "work"
                  source_epa: "bouche_a_oreille"
                  professionnal_status_id: "salarie"
                  motivation: "Accompagner les jeunes entrepreneurs"
                  email_opportunity_frequency: "mensuel"
                  other_email_granted: true
                  already_had_epa_program: false
                  has_unlock_speedmeeting: true
      responses:
        "200":
          description: Contact mis à jour avec succès dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateSuccessResponse'
              example:
                success: true
                hubspot_id: "12345678"
        "500":
          description: Erreur lors de la mise à jour dans HubSpot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateErrorResponse'
              example:
                success: false
                error: "CONTACT_NOT_FOUND"

components:
  schemas:
    EntrepriseCreateRequest:
      type: object
      required:
        - xano_id
        - name
      properties:
        xano_id:
          type: integer
          description: Identifiant de l'entreprise dans Xano
          example: 42
        name:
          type: string
          description: Nom court de l'entreprise
          example: "Les Créatifs"
        full_name:
          type: string
          description: |
            Nom complet de l'entreprise. Si absent, `name` est utilisé.
          example: "Mini-Entreprise Les Créatifs"
        siren:
          type: string
          description: Numéro SIREN (9 chiffres). Transmis à HubSpot.
          example: "123456789"
        siret:
          type: string
          description: Numéro SIRET (14 chiffres). Transmis à HubSpot.
          example: "12345678900012"
        school_uai:
          type: string
          description: Code UAI de l'école rattachée à la Mini-Entreprise. Optionnel.
          example: "0750001X"
          nullable: true
        school_address:
          type: string
          description: Adresse de l'école. Optionnel.
          example: "12 rue des Écoles, 75005 Paris"
          nullable: true

    SuccessResponse:
      type: object
      properties:
        code:
          type: string
          enum: [SUCCESS]
          example: SUCCESS
        payload:
          type: object
          properties:
            hubspot_id:
              type: string
              description: ID de la company créée dans HubSpot
              example: "778753066192"
        message:
          type: string
          example: Ressource successfully created

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [ERROR]
          example: ERROR
        payload:
          type: object
          example: {}
        message:
          type: string
          description: Message d'erreur retourné par HubSpot
          example: "INVALID_EMAIL_ADDRESS"

    CompanyUpdateRequest:
      type: object
      required:
        - hubspot_id
        - xano_id
      properties:
        hubspot_id:
          type: string
          description: ID HubSpot de la company à mettre à jour
          example: "778753066192"
        xano_id:
          type: integer
          description: Identifiant de l'entreprise dans Xano (utilisé pour les logs)
          example: 42
        name:
          type: string
          description: Nom de l'entreprise
          example: "Les Créatifs"
        siren:
          type: string
          description: Numéro SIREN (9 chiffres). Transmis à HubSpot.
          example: "123456789"
        siret:
          type: string
          description: Numéro SIRET (14 chiffres). Transmis à HubSpot.
          example: "12345678900012"
        ville:
          type: string
          description: |
            Ville de l'entreprise. Transmis à HubSpot dans le champ `city`.
          example: "Paris"
        secteur:
          type: string
          description: |
            Secteur d'activité. Transmis à HubSpot dans le champ `industry`.
          example: "Commerce"
        uai:
          type: string
          description: |
            Code UAI de l'établissement scolaire. Transmis à HubSpot dans la propriété UAI dédiée.
          example: "0750001X"

    ContactUpdateRequest:
      type: object
      required:
        - hubspot_id
        - xano_id
      properties:
        hubspot_id:
          type: string
          description: ID HubSpot du contact à mettre à jour
          example: "12345678"
        xano_id:
          type: integer
          description: Identifiant du contact dans Xano (utilisé pour les logs)
          example: 99

        # Identité
        type:
          type: string
          description: Rôle du contact. Transmis à HubSpot dans le champ `role`.
          example: "accompagnateur"
        firstname:
          type: string
          description: Prénom du contact
          example: "Marie"
        lastname:
          type: string
          description: Nom de famille du contact
          example: "Dupont"
        email:
          type: string
          description: Adresse email du contact
          example: "marie.dupont@exemple.fr"
        civility:
          type: string
          description: Civilité. Transmis à HubSpot dans le champ `salutation`.
          example: "Mme"
        phone:
          type: string
          description: Téléphone mobile. Transmis à HubSpot dans le champ `mobilephone`.
          example: "+33612345678"
        job:
          type: string
          description: Intitulé de poste. Transmis à HubSpot dans le champ `jobtitle`.
          example: "Responsable pédagogique"
        linkedin:
          type: string
          description: URL du profil LinkedIn. Transmis à HubSpot dans le champ `hs_linkedin_url`.
          example: "https://linkedin.com/in/marie-dupont"

        # Adresses
        work_address:
          type: string
          description: Adresse professionnelle. Transmis à HubSpot dans le champ `address`.
          example: "12 rue des Écoles, 75005 Paris"
        home_address:
          type: string
          description: Adresse personnelle. Transmis à HubSpot dans `adresse_postale_personnelle`.
          example: "3 avenue Victor Hugo, 75016 Paris"
        fav_address:
          type: string
          description: Adresse préférée. Transmis à HubSpot dans `adresse_preferee`.
          example: "work"

        # Profil EPA
        source_epa:
          type: string
          description: Source de connaissance d'EPA. Transmis dans `source_connaissance_epa`.
          example: "bouche_a_oreille"
        professionnal_status_id:
          type: string
          description: Statut professionnel. Transmis dans `statut_profressionnel`.
          example: "salarie"
        companies_id:
          type: string
          description: Association liée. Transmis dans le champ `association`.
          example: "42"
        networks_id:
          type: string
          description: Réseau de rattachement. Transmis dans le champ `reseau`.
          example: "7"
        departements_id:
          type: string
          description: Département(s). Transmis dans `departement_liste`.
          example: "75"
        motivation:
          type: string
          description: Motivation / informations libres. Transmis dans `autres_informations_my_epa`.
          example: "Accompagner les jeunes entrepreneurs"
        email_opportunity_frequency:
          type: string
          description: Fréquence d'email souhaitée. Transmis dans `frequence_email_souhaitee`.
          example: "mensuel"
        other_email_granted:
          type: boolean
          nullable: true
          description: Consentement email secondaire. Transmis dans `email_accepte__my_epa`. `null` = non fourni (non patché).
          example: true
        teachers_levels_id:
          type: string
          description: Voie d'engagement (ex. enseignant). Transmis dans `voie_dengagement`.
          example: "lycee"
        domains_id:
          type: string
          description: Matière enseignée. Transmis dans `matiere_my_epa`.
          example: "economie"
        wanted_epa_programs_id:
          type: string
          description: Programme(s) d'intérêt. Transmis dans `programme_interet`.
          example: "mini_entreprise"
        already_had_epa_program:
          type: boolean
          nullable: true
          description: A déjà participé à un programme EPA. Transmis dans `participation_anterieur_a_un_programme`. `null` = non fourni (non patché).
          example: false
        details_programs:
          type: string
          description: Détails de participations antérieures. Transmis dans `details_participation_anterieur`.
          example: "Mini-Entreprise en 2022"
        onboarding_tasks:
          nullable: true
          description: Tâches d'onboarding. Transmis dans `taches_donboarding`. `null` = non fourni (non patché).
          example: null
        has_unlock_speedmeeting:
          type: boolean
          nullable: true
          description: Accès speed-meeting débloqué. Transmis dans `debloquer_speedmeeting`. `null` = non fourni (non patché).
          example: true

    ContactUpdateSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
          example: true
        hubspot_id:
          type: string
          description: ID HubSpot du contact mis à jour
          example: "12345678"

    ContactUpdateErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
          example: false
        error:
          type: string
          description: Message d'erreur retourné par HubSpot
          example: "CONTACT_NOT_FOUND"
